h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;   
    color:white; 
}

header{
    background-color: #281aa5;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
/* nav{ */
    /* float: left; */
    /* display: block; */
    /* color: #f2f2f2; */
    /* text-align: center; */
    /* padding: 20px 687px; */
    /* text-decoration: none; */
/* } */

body {
    height: 15%; 
    width: 100%;
 }

ul, li {
    background-color: rgb(207, 46, 46);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 10px;
    overflow: hidden;
   
}
li{
  
    background-color: #cf2e2e;
    display: inline;
    margin: 0;
    float: right;
    
   
}
#home{
    width: 45px;
}

#celular{
width: 600px;
float: left;
margin-right: 80%;
padding: 30px;
}
#textohome{
    float: right;
    margin-top: -500px;
    margin-right: 1%;
    width: 400px;

}
#pig{
    width: 50px;
    height: 50px;
    float: left 22px;
  
}
.colunaesquerda {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  .colunameio {
    content: "";
    display: table;
    clear: both;
  }
  
    .colunadireita {
      width: 100%;
    }
  