h1{
    font-family: Arial, Helvetica, sans-serif  ;
    
}
ul, li{
    background-color: #cf2e2e;
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
   
}
li{
  
    display: inline;
    margin: 0;
    float: right;
 
   
}
