h1{
    font-family: Arial, Helvetica, sans-serif  ;
    
}
ul, li{
  
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
   
}
li{
  
    background-color: #cf2e2e;
    display: inline;
    margin: 0;
    float: left;
 
   
}
#celular{
width: 600px;
float: left;
margin-right: 80%;
padding: 30px;
}
#textohome{
    float: right;
    margin-top: -500px;
    margin-right: 5%;
    width: 400px;

}