h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;    
}

header{

}

body {
    height: 15%; 
    width: 100%;
 }

ul, li {
    background-color: rgb(207, 46, 46);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 10px;
    overflow: hidden;
   
}
li{
  
    background-color: #cf2e2e;
    display: inline;
    margin: 0;
    float: right;
    
   
}
#home{
    width: 45px;
}


#pig{
    width: 50px;
    height: 50px;
    float: left 22px;
  
}

#cartao{
width: 600px;
float: left;
margin-right: 80%;
padding: 30px;
}
#area{
border: 1px solid #cf2e2e;
width: 400px;
height: 550px;
display: block;
position: relative;



}
form{
    margin-left: 70%;
    width: 500px;
}